<!DOCTYPE html>
<html>
  <head>
    <title>W3layouts</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <script>  
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
  </script>
<div class="banner-bg banner-bg1">	
	  <div class="container">
			 <div class="header">
			       <div class="logo">
						 <a><img src="assets/logo.png" alt=""/></a>
				   </div>							 
				  <div class="top-nav">										 
						<label class="mobile_menu" for="mobile_menu">
						<span>Menu</span>
						</label>
						<input id="mobile_menu" type="checkbox">
					   <ul class="nav">
                           
						  <li class="dropdown1"><a>BIKES</a>
							  <ul class="dropdown2">
							  <li><a><%= link_to 'bikes', {:controller => 'home', :action => 'bikes'} %></a></li>
									<li><a href="bicycles.html">NEW BIKES</a></li>
									<li><a href="vpgco.html">VELOCE</a></li>
									<li><a href="tgbm.html">TREK</a></li>
                                    <li><a href="vpgco.html">PHOENIX</a></li>
									<li><a href="tgbm.html">GIANT</a></li>
                                    <li><a href="vpgco.html">GHOST</a></li>
                                    <li><a href="tgbm.html">BINACHI</a></li>
									<li><a href="vpgco.html">CORE</a></li>
                                    <li><a href="tgbm.html">MUSTANG</a></li>
									<li><a href="vpgco.html">OTHERS</a></li>
							  </ul>
						  </li>
                          <li class="dropdown1"><a href="kids%20item.html">KIDS ITEM</a>
							 
				          </li>
						  <li class="dropdown1"><a href="parts.html">PARTS</a>
							 
						 </li>      
						 <li class="dropdown1"><a href="accessories.html">ACCESSORIES</a>
							 
						 </li>               
						 <li class="dropdown1"><a href="about.html">ABOUT US</a>
							 
						 </li>
						  
					  </ul>
                      
                      
				 </div>

    <%= yield %>


    <!---->
<div class="footer">
	 <div class="container wrap">
		<div class="logo2">
			 <p class="copyright">2017 | Developed By <a href="https://www.facebook.com/shofi9x">Hussain</a> & <a href="https://www.facebook.com/ahmed.z.mahin">Zaman</a></p>
		</div>
		<div class="ftr-menu">
			 <ul>
				 <li><a href="bicycles.html">BIKES</a></li>
                 <li><a href="kids%20item.html">KIDS ITEM</a></li>
				 <li><a href="parts.html">PARTS</a></li>
				 <li><a href="accessories.html">ACCESSORIES</a></li>
				 
			 </ul>
		</div>
		<div class="clearfix"></div>
	 </div>
</div>
<!---->
  </body>
</html>
